.main-container {
    width: 50%;
    height: 100px;
    display: flex;
}

.wraper {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.wraper img{
    border-radius: 30px;
}